div.dataTables_wrapper div.dataTables_length select,
div.dataTables_wrapper div.dataTables_length input {
    width: auto;
}
div.dataTables_wrapper div.dataTables_length.d-flex.flex-row label {
    margin-top: 1.2rem;
    margin-right: 1rem;
}
div.dataTables_wrapper div.dataTables_length.d-flex.flex-row .select-wrapper.mdb-select span,
div.dataTables_wrapper div.dataTables_length.d-flex.flex-row .select-wrapper.mdb-select .select-dropdown {
    margin-top: 1rem;
}
div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 400;
    text-align: left;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    margin-right: 1.5em;
}
div.dataTables_wrapper div.dataTables_filter select,
div.dataTables_wrapper div.dataTables_filter input {
    width: auto;
}
div.dataTables_wrapper div.dataTables_filter input {
    display: inline-block;
    margin-left: 0.5rem;
}
div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_paginate {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 400;
}
div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    text-align: right;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-pack: end;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
    background-color: #4285f4;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item .page-link:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
@media (max-width: 767px) {
    div.dataTables_wrapper div .dataTables_length,
    div.dataTables_wrapper div .dataTables_filter,
    div.dataTables_wrapper div .dataTables_info,
    div.dataTables_wrapper div .dataTables_paginate ul.pagination {
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        -webkit-box-pack: center;
    }
}
.bs-select select {
    display: inline-block !important;
}
table.dataTable thead {
    cursor: pointer;
}
table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
    padding-right: 30px;
}
table.dataTable thead > tr > th:active,
table.dataTable thead > tr > td:active {
    outline: none;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    position: relative;
    cursor: pointer;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 0.3;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    font-family: FontAwesome, sans-serif;
    font-size: 1rem;
    font-weight: 900;
    content: "\f0de";
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: 16px;
    font-family: FontAwesome, sans-serif;
    font-size: 1rem;
    font-weight: 900;
    content: "\f0dd";
}
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
    opacity: 1;
}
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    opacity: 0;
}

/*CUSTOM*/

a{
    color: #2f8fce;
}

.page-item.active .page-link{
        background-color: #2f8fce;
    border-color: #2f8fce;
}

.page-link{
    color: #2f8fce;
}

table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc{
	background-color:rgba(222, 226, 230, 0.5)
}

td.sorting_1{
	background-color:rgba(222, 226, 230, 0.2)
}
#table-container {
        width: 100%;
    }


table{
	margin: 0 auto;
     width: 100%;
     clear: both;
     border-collapse: collapse;
     table-layout: fixed;
     /*word-wrap:normal;*/
     font-size:16px;
	font-family: 'PT Sans', sans-serif;
    color:#333333;
}

tr{
    height: 50px
}

#header{
    width:100%;
    height:290px;
    margin: auto 0;
    background-image: linear-gradient(to bottom, rgba(27, 55, 216, 0.12), rgba(202, 54, 62, 0.23)), url(../img/table-hero.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: static;
    z-index: -1;
}

#header-title{
    display: inline-block;
    padding-top:2em;
    padding-left:2.5em;
    width:95%;
}

#header-title h1{
    color:#ffffff;
    font-family: 'PT Sans Narrow', sans-serif;
    text-shadow: 1px 1px 8px #333333;
    font-size:36px;
}

#header-title p{
    font-family: 'PT Serif', serif;
    color:#ffffff;
    font-size:15px;
    text-shadow: 1px 1px 8px #333333;
}

#logo{
    display: inline-flex;
    margin-top: 13em;
    width: 5%;
    margin-left: -8em;
}

#logo img{
    height: 100px;
    width: auto;
}

#logo.small{
    display: none;
}

.table thead th{
    border-bottom:2px solid #333333;
}

div.dataTables_wrapper div.dataTables_length label, div.dataTables_wrapper div.dataTables_filter label{
    color:white;
}

div.dataTables_wrapper div .dataTables_filter{
    margin-top:-130px;
}

#dTable_wrapper > .row:nth-child(1){
    position: absolute;
}

.tooltip{
    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:10px;
    font-size:16px;
    opacity:0;
}
.tooltip.in{
    opacity:1;
}


.tooltip-inner{

    padding:3px 8px;
    color:#333333;
    text-align:left;
    font-weight:300;
    font-family: 'PT Sans', sans-serif;
    background: #f4f4f4;
    border: 2px solid #333333;
    box-shadow: 2px 2px #666666;
    border-radius: 0;
    opacity: 1;
    width: max-content;
    max-width: 700px;
}

.tooltip.show{
  opacity: 1;
}

#filterContainer{
  display: inline-grid;
}

#filterContainer select{
  margin: 0.4em 0;
  pointer-events: auto; 
}

#filterContainer select:nth-child(2), #filterContainer select:nth-child(3), #filterContainer select:nth-child(4), #filterContainer select:nth-child(6), #filterContainer select:nth-child(7), #filterContainer select:nth-child(8){
  display: none;
}


.bs-tooltip-bottom .arrow{
  top:4px;
}
    th:nth-child(1), td:nth-child(1){
      width: 12%;
    }
    th:nth-child(2), td:nth-child(2), th:nth-child(3), td:nth-child(3){
      width: 16%;
    }
    th:nth-child(4), td:nth-child(4){
      width: 20%;
    }

.sm-header{
    font-size:12px;
}

th:nth-child(1){
    line-height: 18px;
}

.dataTables_filter {
    float: left !important;
 }

 .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #333333;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #333333;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #333333;
}



/*MEDIA QUERIES*/

@media screen and (max-width: 979px){
    th:nth-child(1), td:nth-child(1){
    width: 15%;
  }
  th:nth-child(2), td:nth-child(2), th:nth-child(3), td:nth-child(3){
    width: 20%;
  } 
  }
  @media screen and (max-width: 779px){
    th:nth-child(1), td:nth-child(1){
    width: 19%;
  }
  th:nth-child(2), td:nth-child(2), th:nth-child(3), td:nth-child(3){
    width: 23%;
  } 
  #header-title h1{
      font-size:24px;
  }
  }
  @media screen and (max-width: 549px){
    th:nth-child(1), td:nth-child(1){
    width: 22%;
  }

  @media screen and (max-width: 525px){
    #logo.large{
        display: none;
    }
    #logo.small{
        display: inline-flex;
        margin-top: 21em;
        margin-left: -3em;
    }  
    #logo img{
        width: auto;
        height: 30px;
    }
    
    #header{
          height: 320px;
      }
    div.dataTables_wrapper div .dataTables_filter{
    margin-top:-130px;
    }
    }
  th:nth-child(5), td:nth-child(5){
    display: none;
  }
  }
  @media screen and (max-width: 459px){
    th:nth-child(1), td:nth-child(1){
    width: 26%;
  }
  }

@media screen and (max-width:380px){
    table{
        font-size: 12px;
    }
}


